<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <a href="/admin/store">Stores</a><br>
            <a href="/">Home</a>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
