<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {% for category in categories  %}
                <a href="/{{ category.getName() }}">{{ category.getName() }}</a><br>
            {% endfor %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
